@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

.dark {
  --background: #18181b;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}